[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DALEX"]
	path = DALEX
	url = https://github.com/modeloriented/dalex
[submodule "DALEXtra"]
	path = DALEXtra
	url = https://github.com/modeloriented/dalextra
[submodule "EIX"]
	path = EIX
	url = https://github.com/modeloriented/eix
[submodule "arenar"]
	path = arenar
	url = https://github.com/modeloriented/arenar
[submodule "auditor"]
	path = auditor
	url = https://github.com/modeloriented/auditor
[submodule "corrgrapher"]
	path = corrgrapher
	url = https://github.com/modeloriented/corrgrapher
[submodule "drifter"]
	path = drifter
	url = https://github.com/modeloriented/drifter
[submodule "fairmodels"]
	path = fairmodels
	url = https://github.com/modeloriented/fairmodels
[submodule "iBreakDown"]
	path = iBreakDown
	url = https://github.com/modeloriented/ibreakdown
[submodule "ingredients"]
	path = ingredients
	url = https://github.com/modeloriented/ingredients
[submodule "kernelshap"]
	path = kernelshap
	url = https://github.com/modeloriented/kernelshap
[submodule "live"]
	path = live
	url = https://github.com/modeloriented/live
[submodule "localModel"]
	path = localModel
	url = https://github.com/modeloriented/localmodel
[submodule "modelDown"]
	path = modelDown
	url = https://github.com/modeloriented/modeldown
[submodule "modelStudio"]
	path = modelStudio
	url = https://github.com/modeloriented/modelstudio
[submodule "rSAFE"]
	path = rSAFE
	url = https://github.com/modeloriented/rsafe
[submodule "randomForestExplainer"]
	path = randomForestExplainer
	url = https://github.com/modeloriented/randomforestexplainer
[submodule "shapper"]
	path = shapper
	url = https://github.com/modeloriented/shapper
[submodule "shapviz"]
	path = shapviz
	url = https://github.com/modeloriented/shapviz
[submodule "survex"]
	path = survex
	url = https://github.com/modeloriented/survex
[submodule "triplot"]
	path = triplot
	url = https://github.com/modeloriented/triplot
[submodule "vivo"]
	path = vivo
	url = https://github.com/modeloriented/vivo
